includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 1
    paths:
        - app
    scanDirectories:
        - database/migrations
        - routes

    inferPrivatePropertyTypeFromConstructor: true
